head{
    color: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 0cap;
}
p {
    color: black;
    background-color: white;
}
body{
    background-image: url('vaccine\ 2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}